body{
    list-style-position:inside;
    text-align: center;
    background-color: black;
}
h1,h2{
    color: red;
}
ul ,ol,address{
    color:seashell
}
p{
    color: whitesmoke;
}
a {
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }